/*
* @Author: susuten
* @Date:   2018-09-04 10:34:42
* @Last Modified by:   susuten
* @Last Modified time: 2018-09-04 15:38:49
*/
.modal{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    z-index: 999;
    animation:myanimation .3s;
    -webkit-animation:myanimation .3s;
}
.modalBox{
    padding:24px;
    width:auto;
    height:auto;
    background:rgba(255,255,255,1);
    position: absolute;
    top:50%;
    margin-top: -120px;
    left: 50%;
    margin-left: -252px;
}
.modalTips {
    padding:24px;
    width:280px;
    height:130px;
    background:rgba(255,255,255,1);
    position: absolute;
    top:50%;
    margin-top: -65px;
    left: 50%;
    margin-left: -140px;
}
.modalTitle {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}
.modalClose {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 18px;
    right: 15px;
}
.modalContent {
    text-align: center;
    padding-bottom: 30px;
}

.modalBtn {
    text-align: center;
}
.modalContentItem {
    height: 40px;
    margin-bottom: 20px;
}
.modalContentItem span {
    display: inline-block;
    width: 72px;
    text-align: right;
    padding-right: 10px;
}
.modalContentItem input {
    width: 300px;
    height: 36px;
    border: 1px solid #EAEAEA;
    padding-left: 10px;
    border-radius: 2px;
    background-color: #f5f5f5;
}
/*css3 动画*/
@keyframes myanimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@-webkit-keyframes myanimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
